# Assessment - 1 Gradable

- Each question carries 5 marks
- Marks will be assigned in terms of:
    
    **1. Expected output**
    
    **2. Quality and Explainability of code**

    ***Go back through the script and type a comment above each line explaining in English what it does.***

    **3. Copied code, if found, will result in 0 marks for that question. To avoid this make as much comments in the code to explain the approach**

### 1. 

Go through the string below and if the length of a word is even print "even!"

sting = 'I know how to print every word in this sentence that has an even number of letters'

In [1]:
sting= 'I know how to print every word in this sentence that has an even number of letters'
x=sting.split()      # split the string each word
print (x)
if(len(sting)%2==0):    # condition check to even
        print('even')

['I', 'know', 'how', 'to', 'print', 'every', 'word', 'in', 'this', 'sentence', 'that', 'has', 'an', 'even', 'number', 'of', 'letters']
even

### 2. 

Write a function ``clap_tap`` that prints the integers from 1 to 100. But for multiples of three print "Clap" instead of the number, and for the multiples of five print "Tap". For numbers which are multiples of both three and five print "ClapTap".

In [2]:
seq=range(0,101)       # take the range 0,101
def clap_tap(seq):     # define the function
    if (seq%3==0):             # use function with condition statement
        return 'clap'
    elif(seq%5==0):       
        return'tap'
    elif(seq%3==0) and (seq%5==0):  # but in last elif condition is not going to exicute so use first
        return 'claptap'

In [3]:
clap_tap(45)

'clap'

In [4]:
seq=range(0,101)       # take the range 0,101
def clap_tap(seq):
    if (seq%3==0) and (seq%5==0):     # use first condition and
        return'claptap'
    elif(seq%3==0):
        return 'clap'
    elif(seq%5==0):
        return'tap'

In [5]:
clap_tap(45)

'claptap'

### 3. 

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter and returns True if both words begin with same letter
- animal_crackers('Levelheaded Lion') --> True
- animal_crackers('Cute Kangaroo') --> False

In [6]:
def animal_crackers(tupl):         # define the function
    tupl1,tupl2=tupl.split(' ')        # create 2 string
    print(tupl1[0].lower() ==tupl2[0].lower())    # use lower.for case insensitive

In [7]:
animal_crackers('Levelheaded Lion')
print()
animal_crackers('Cute Kangaroo')

True

False

### 4. 

Create a function ``lets_find_88`` Given a list of ints, return True if the array contains a 8 next to a 8 somewhere.
- lets_find_88([1, 8, 8]) → True
- lets_find_88([1, 8, 1, 8]) → False
- lets_find_88([8, 1, 8]) → False

In [3]:
def lets_find_88(list):  # define function use for condition to x==8 and x+1=8
    for x in list:
        if (list[x]==8) and (list[x+1]==8):   # so return conatain true if 8 next to a 8
            return True
        else:
            return False

In [4]:
lets_find_88([1, 8, 8])

True

In [5]:
lets_find_88([1, 8, 1, 8])

False

### 5.  Create a function ``shout_out`` Given a string, return a string where:
- 
### for every character in the original there are three characters
    - shout_out('character') --> 'ccchhhaaarrraaacccttteeerrr'
    - shout_out('original') --> 'ooorrriiigggiiinnnaaalll'

In [14]:
def shout_out(string):   # define funtion 
    result=''            # when use 0 here cant pluse int and string -use empty string
    for x in string:
        result=result+x*3     # multiply x three time and return result
    return result

In [15]:
shout_out('character')

'ccchhhaaarrraaacccttteeerrr'

In [16]:
shout_out('original')

'ooorrriiigggiiinnnaaalll'

### 6. Write a function ``how_many_primes`` that returns the number of prime numbers that exist up to and including a given number
- how_many_primes(100) --> 25

In [17]:
def how_many_primes(number):   # define fuction
    key=0
    for i in range(2,number+1):
        prime=True
        for x in range (2,i):
            if (i%x==0):
                prime=False     # stop looping once get divisor ,use break 
                break
        if prime:
            key+=1
    return key

In [18]:
how_many_primes(100)

25

### 7. 

Write a Python function that prints out the first n rows of Pascal's triangle.

- Input : 5
- Output: 
          1
         1 1
        1 2 1
       1 3 3 1
      1 4 6 4 1

**Very interesting video on PASCAL TRIANGLE (must watch if you are interested to know more about pascal Triangle)**
- https://www.youtube.com/watch?v=0iMtlus-afo&t=668s&ab_channel=Numberphile

In [2]:
n= 5                          # power of the number 11 as per pascal triangle pattern 
  
for i in range(n):                       
    print(' '*(n-i), end='')                   #11*0=1, 11*1=11, 11*3=121..... 

    print(' '.join(map(str, str(11**i))))

     1
    1 1
   1 2 1
  1 3 3 1
 1 4 6 4 1

### 8. 

Write a function to print following pattern

    1  
    2  4  
    3  6  9  
    4  8  12  16  
    5  10  15  20  25  
    6  12  18  24  30  36  
    7  14  21  28  35  42  49  
    8  16  24  32  40  48  56  64

In [25]:
n = 8                                          # start with 1, we print in left triangle so use n+1
for i in range(1, n+1):                      # write required numbers of line
    for x in range(i,i ** 2 + 1,i):           # print values in columns using (start, stop, step)
        print (x, end = "  ")
    print( )                              # close with print() to stop for as required

1
2  4
3  6  9
4  8  12  16
5  10  15  20  25
6  12  18  24  30  36
7  14  21  28  35  42  49
8  16  24  32  40  48  56  64

### 9. 

Write a function to print following pattern

* * * * * 
 * * * * 
  * * * 
   * * 
    * 
    * 
   * * 
  * * * 
 * * * * 
* * * * *

In [26]:
n=5                                       # use nested loop n=5, here 2 triangle apposite direction so first exicute 1 to 5
                                           # then apposite 
for i in range(n):
    for j in range(i+1):                  # first increasing triangle from range i + 1 to range i
        print(' ', end = ' ')
    for j in range(n-i):                  # space as per requred
        print(' * ', end = ' ')
    print()
for i in range(n):
    for j in range(n-i):                 # change same in reverse  
        print(' ', end = ' ')
    for j in range(i+1):
        print(' * ', end = ' ')      
    print()                               # use print() before existing loop

   *   *   *   *   *
     *   *   *   *
       *   *   *
         *   *
           *
           *
         *   *
       *   *   *
     *   *   *   *
   *   *   *   *   *

### 10. 

Grab ``StarAgile`` from the following Dictionaries

d_difficult = {'k1':[{'nest_key':['this is deep',['StarAgile']]}]}

d_irritating = {'k1':[1,2,{'k2':['this is not easy',{'VeryIrriating':[1,2,['StarAgile']]}]}]}

In [28]:
d_difficult = {'k1':[{'nest_key':['this is deep',['StarAgile']]}]}

d_irritating = {'k1':[1,2,{'k2':['this is not easy',{'VeryIrriating':[1,2,['StarAgile']]}]}]}

In [29]:
d_difficult['k1'][0]['nest_key'][1][0]       # use  indexing -to sliceing

'StarAgile'

In [30]:
d_irritating['k1'][2]['k2'][1]['VeryIrriating'][2][0]

'StarAgile'

### 11. 

Create a function ``ignore_6_to_9`` that returns the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
- ignore_6_to_9([1, 3, 5]) --> 9
- ignore_6_to_9([4, 5, 6, 7, 8, 9]) --> 9
- ignore_6_to_9([2, 1, 6, 9, 11]) --> 14

In [7]:
def ignore_6_to_9(arr):            # define function
    total = 0              #     of numbers starting with a 6 and extending to the next 9                              
    add = True
    for num in arr:           
        while add:
            if num != 6:                    #every 6 will be followed by at least one 9
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total                               # Return 0 for no numbers, total=0

In [8]:
ignore_6_to_9([1, 3, 5])

9

In [9]:
ignore_6_to_9([4, 5, 6, 7, 8, 9])

9

In [10]:
ignore_6_to_9([2, 1, 6, 9, 11])

14

## All the best :)